<template>
  <h3>Добавление новой транзакции</h3>
  <form id="form" @submit.prevent="onSubmit">
    <div class="form-control">
      <label for="text">Сообщение</label>
      <input
          type="text"
          id="text"
          v-model="text"
          placeholder="Введите сообщение..."/>
    </div>
    <div class="form-control">
      <label for="amount"
             >Сумма <br />
            (negative - expense,positive-income)</label
      >
      <input
          type="text"
          id="amount"
          v-model="amount"
          placeholder="Введите сумму"
      >
    </div>
    <button class="btn">Добавить транзакцию</button>
  </form>
</template>
<script setup>
import {ref} from "vue";
import {useToast} from "vue-toastification";

const text = ref('');
const amount=ref('');

const emit = defineEmits([
    'transactionSubmitted'
]);

const toast = useToast();
const onSubmit = ()=>{
  if(!text.value || !amount.value){
    toast.error('Поля должны быть заполнены!');
    return;
  }
  // console.log(text.value,amount.value)
  const transactionData = {
    text: text.value,
    amount:parseFloat(amount.value)
  }
  emit('transactionSubmitted',transactionData);

  text.value='';
  amount.value='';
}
</script>