<template>
  <h3>История транзакций</h3>
  <ul id="list" class="list">
    <li
        v-for="transaction in transactions"
        :key="transaction.id"
        :class="transaction.amount < 0 ? 'minus' : 'plus'"
    >
      {{ transaction.text }}<span>${{
        transaction
            .amount
      }}</span
    ><button
        @click="deleteTransaction(transaction.id)"
        class="delete-btn">x</button>
    </li>
    <!--    <li class="minus">-->
    <!--      Отправка <span>-$400</span><button-->
    <!--        class="delete-btn">x</button>-->
    <!--    </li>-->
    <!--    <li class="plus">-->
    <!--      Зачисление <span>+$800</span><button-->
    <!--        class="delete-btn">x</button>-->
    <!--    </li>-->
  </ul>
</template>
<script setup>

const emit = defineEmits([
    'transactionDeleted'
])

const props = defineProps({
  transactions:{
    type:Array,
    required:true,
  }
});

const deleteTransaction = (id)=>{
  emit('transactionDeleted',id);
}

// with setup
// const transactions = [
//   {id: 1, text: 'Цветы', amount: -19.99},
//   {id: 2, text: 'Распрадажа', amount: 299.99},
//   {id: 3, text: 'Книга', amount: -10.99},
//   {id: 4, text: 'Цветы', amount: -19.99},
// ]
// без setup
// export default {
// data(){
//   return{
//     transactions: [
//       {id:1,text: 'Цветы',amount: -19.99},
//       {id:2,text: 'Распрадажа',amount: 299.99},
//       {id:3,text: 'Книга',amount: -10.99},
//       {id:4,text: 'Цветы',amount: -19.99},
//     ],
//   }
// }
//   setup() {
//     const transactions = [
//       {id: 1, text: 'Цветы', amount: -19.99},
//       {id: 2, text: 'Распрадажа', amount: 299.99},
//       {id: 3, text: 'Книга', amount: -10.99},
//       {id: 4, text: 'Цветы', amount: -19.99},
//     ];
//
//     return{
//       transactions,
//     }
//   }
// }
</script>