<template>
  <Header/>
  <div class="container">
    <Balance :total="total"/>
    <IncomeExpenses :income="+income" :expenses="+expenses"/>
    <TransactionList :transactions="transactions"
                     @transactionDeleted="handleTransactionDeleted"
    />
    <AddTransaction
    @transactionSubmitted="handleTransactionSubmitted"
    />
  </div>
</template>

<script setup>

import {computed, defineComponent, onMounted, ref} from "vue";
import Header from "@/components/Header.vue";
import Balance from "@/components/Balance.vue";
import IncomeExpenses from "@/components/IncomeExpenses.vue";
import TransactionList from "@/components/TransactionList.vue";
import AddTransaction from "@/components/AddTransaction.vue";
import {useToast} from "vue-toastification";

const toast = useToast();

onMounted(()=>{
  const savedTransactions = JSON.parse(localStorage.getItem('transactions'));
  if(savedTransactions){
    transactions.value = savedTransactions;
  }
});

// Сохранение транзакции в локальное хранилище
const saveTransactionsToLocalStorage = ()=>{
  localStorage.setItem('transactions',JSON.stringify(transactions.value))
}

//пример Props
const transactions = ref([
  // Примеры обьектов
  // {id: 1, text: 'Цветы', amount: -19.99},
  // {id: 2, text: 'Распрадажа', amount: 299.99},
  // {id: 3, text: 'Книга', amount: -10.99},
  // {id: 4, text: 'Цветы', amount: -19.99},
]);

// Получение общей суммы
const total = computed(()=>{
  const sum =  transactions.value.reduce((acc,transaction)=>{
    return acc + transaction.amount;
  },0);
  return sum.toFixed(2);

})

// Полученик суммы зачеслений
const income = computed(()=>{
   return transactions
      .value
      .filter((transaction)=> transaction.amount>0)
      .reduce((acc,transaction)=>{
        return acc+ transaction.amount;
      },0)
       .toFixed(2);
});

// Полученик суммы отправленных
const expenses = computed(()=>{
  return transactions
      .value
      .filter((transaction)=> transaction.amount<0)
      .reduce((acc,transaction)=>{
        return acc+ transaction.amount;
      },0)
      .toFixed(2);
});

//add transactional
const handleTransactionSubmitted = (transactionData)=>{
  // console.log(transactionData);
  transactions.value.push(
      {
        id:generateUniqueId(),
        text: transactionData.text,
        amount: transactionData.amount,
      }
  );
  saveTransactionsToLocalStorage();
  toast.success('Транзакция проведена успешно!');
};

const generateUniqueId = ()=>{
  return Math.floor(Math.random()*1000);
}

// Удаление транзакции
const handleTransactionDeleted = (id)=>{
  const index = transactions.value.findIndex(transaction => transaction.id === id);
  if (index !== -1) {
    transactions.value.splice(index, 1);
    saveTransactionsToLocalStorage();
    toast.success('Транзакция успешно удалена!');
  }
}

// без setup
// export default defineComponent({
//   components: {
//     AddTransaction,
//     TransactionList,
//     IncomeExpenses,
//     Balance,
//     Header
//   },
// })
</script>